@font-face {
  font-family: Space;
  src: url(../../assets/fonts/spyagencybold.ttf);
}
.events-section {
  padding: 4rem 2rem;
  
  text-align: center;
}

.section-title {
  font-size: 2.8rem;
  color: #FD6821;
  margin-bottom: 3rem;
  text-shadow: 0 0 8px #FD6821;
  font-family: Space;
}

.event-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.event-card {
  position: relative;
  width: 280px;
  height: 450px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 148, 82, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #0e0a2f;
}




.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px #FD6821;
}

.event-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.event-card:hover .event-img {
  filter: brightness(1.1) drop-shadow(0 0 8px #FD6821);
}

.event-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
  background: rgba(8, 3, 61, 0.7);
  color: #FD6821;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 0 8px #FD6821;
  
}




