video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    justify-content: center;
    position: relative;
}

/* Hide video initially if not loaded */
video.hidden {
    display: none;
}

/* Mascot Loader Styling */
.mascot-loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #000; /* Optional: Black background while loading */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mascot-loader img {
    width: 150px;
    height: auto;
    animation: float 2s ease-in-out infinite;
}

/* Optional floating animation */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.hero-container > h1 {
    color: white;
    font-size: 100px;
    margin-top: -100px;
    font-family: 'Poppins', sans-serif;
}

.hero-container > p {
    margin-top: 8px;
    color: white;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}
