video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position : absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.hero-container {
    /*background: url('../public/images/bg.jpg') centre center/cover no-repeat;*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    justify-content: center;
    position: relative;
}

.hero-container > h1{
    color: white;
    font-size: 100px;
    margin-top: -100px;
}

.hero-container > p {
    margin-top: 8px;
    color: white;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
