@font-face {
  font-family: Square;
  src: url(../assets/fonts/Square.ttf);
  
}
.navbar {
  height: 100px;
  background-color: transparent;
 /* backdrop-filter: blur(10px);         
  -webkit-backdrop-filter: blur(10px); */
  display: flex;
  align-items: center;
  justify-content: center;
  /*position: sticky;*/
  top: 0;
  z-index: 999;
}

.navbar-container {
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: relative;
}

.left-logo img {
  margin-top: 10px;
  height: 120px;
}

.center-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-logo img {
  margin-top: 10px;
  height: 220px; /* adjust as needed */
  object-fit: contain;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  color: #ff9452;
  font-size: 24px;

}

/* Desktop nav */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-item .nav-links {
  color: #ff9452;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
  font-family: Square;

}

.nav-item .nav-links:hover {
  color: white;
}

/* Mobile nav */
@media screen and (max-width: 960px) {
  .menu-icon {
    display: block;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: #000;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    z-index: 999;
  }

  .nav-menu.active {
    transform: translateX(0%);
  }

  .nav-item {
    margin: 16px 0;
  }

  .right-nav {
    flex-direction: column;
  }
  .center-logo{
    display: none;
  }
}

.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}