/* Container Styling */
@font-face {
  font-family: Space;
  src: url(../../../assets/fonts/spyagencybold.ttf);
}
.competitions-list {
  padding: 3rem 2rem;
  min-height: 100vh;
  color: #fff;
  
}

/* Title */
.competitions-list h2 {
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
  color: #FD6821;
  text-shadow: 0 0 8px #ff9452;
  text-align: center;
  font-family: Space;
}

/* Grid Layout */
.competitions-list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  padding: 0;
}

/* Card Style */
.competitions-list li {
  width: 260px;
  height: 320px;
  background: #1a1a1a;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 94, 0, 0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

/* Hover Effects */
.competitions-list li:hover {
  transform: scale(1.05) rotate(-1deg);
  box-shadow: 0 0 25px rgba(255, 94, 0, 0.4);
}

/* Swipe Effect */
.competitions-list li::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 94, 0, 0.3),
    transparent
  );
  transform: rotate(25deg);
  transition: all 0.5s ease;
  z-index: 1;
}

.competitions-list li:hover::before {
  top: 100%;
  left: 100%;
}

/* Image Styling */
.competitions-list li img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
/* Text link Styling */
.competitions-list a {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
  text-decoration: none;
  color: #FD6821;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  background-color: #1a1a1a;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  transition: color 0.3s ease;
}

.competitions-list a::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 94, 0, 0.3),
    transparent
  );
  transform: rotate(25deg);
  transition: all 0.5s ease;
  z-index: -1;
}

.competitions-list a:hover::before {
  top: 100%;
  left: 100%;
}
.competitions-list a:hover {
  color: #ffffff;
}
